@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 9999px !important; /* Pour forcer le rond */
}

/* Par défaut : mobile */
.flex-cust {
  display: flex;
  flex-direction: column; /* superposé par défaut */
  gap: 1rem; /* équivalent à gap-4 Tailwind */
}

/* Desktop moyen : ≥ 768px (taille md) */
@media (min-width: 768px) {
  .flex-cust {
    flex-direction: row; /* côte à côte */
  }
}
